body {
  text-align: center;
  background-color: brown;
  font: Arial;
}

h2 {
  color: black;
}

.gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.gallery img {
  width: 230px;
  height: 300px;
  border-radius: 8px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 8px black;
  cursor: pointer;
}
